---
import '../styles/global.css';

const { title = 'marugoto_festival_theater' } = Astro.props;
---
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, viewport-fit=cover" />
    <title>{title}</title>
    <slot name="head" />
    <script>
      (function (d) {
        var config = {
            kitId: 'dud4mvo',
            scriptTimeout: 3000,
            async: true,
          },
          h = d.documentElement,
          t = setTimeout(function () {
            h.className = h.className.replace(/\bwf-loading\b/g, '') + ' wf-inactive';
          }, config.scriptTimeout),
          tk = d.createElement('script'),
          f = false,
          s = d.getElementsByTagName('script')[0],
          a;
        h.className += ' wf-loading';
        tk.src = 'https://use.typekit.net/' + config.kitId + '.js';
        tk.async = true;
        tk.onload = tk.onreadystatechange = function () {
          a = this.readyState;
          if (f || (a && a !== 'complete' && a !== 'loaded')) return;
          f = true;
          clearTimeout(t);
          try {
            var loader = Typekit.load(config);
            if (loader && typeof loader.catch === 'function') {
              loader.catch(function () {});
            }
          } catch (e) {
            console.warn('Typekit load skipped:', e);
          }
        };
        s.parentNode.insertBefore(tk, s);
      })(document);
    </script>
  </head>
  <body class="bg-sky-50 text-slate-900 font-sans">
    <slot />
  </body>
</html>
